@import "tailwindcss";

@font-face {
  font-family: "NotoSansLaos"; /* ชื่อฟอนต์ที่เราจะเรียกใช้ */
  src: url("../font/NotoSansLao-VariableFont_wdth,wght.ttf") format("truetype"); /* ไฟล์ฟอนต์และฟอร์แมต */
  font-weight: normal; /* น้ำหนักปกติ */
  font-style: normal; /* สไตล์ปกติ (ไม่เอียง) */
}
@font-face {
  font-family: "Roboto"; /* ชื่อฟอนต์ที่เราจะเรียกใช้ */
  src: url("../font/Roboto-VariableFont_wdth,wght.ttf") format("truetype"); /* ไฟล์ฟอนต์และฟอร์แมต */
  font-weight: normal; /* น้ำหนักปกติ */
  font-style: normal; /* สไตล์ปกติ (ไม่เอียง) */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bgnavbar: #002f93;
  --forenavbar: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bgnavbar {
  background-color: var(--bgnavbar);
}
.theme1 {
  background: var(--background);
  color: var(--foreground);
}
.theme2 {
  background: var(--foreground);
  color: var(--background);
}

/* จอเล็ก (Mobile - Tablet) */
@media (max-width: 767px) {
}

/* จอกลางขึ้นไป (Tablet แนวนอน + Desktop) */
@media (min-width: 768px) {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", "NotoSansLaos", Arial, Helvetica, sans-serif;
}

.contain {
  max-width: 96%;
  margin: 0 auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}